In [ ]:
%pip install pandas

In [44]:
import pandas as pd

1. Padronizando o Dataframe: Limpeza e alteração de dados incorretos.

In [2]:
customers = pd.read_csv('../data/data_csv/olist_customers_dataset.csv')

customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [3]:
customers.shape

(99441, 5)

In [4]:
customers.head(7)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
5,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,89254,jaragua do sul,SC
6,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,4534,sao paulo,SP

In [5]:
from data_clear import DataClear

In [6]:
data_clear = DataClear(customers, 'customer_city', 'customer_state')

In [7]:
total_null = customers.isnull().sum()

print(f'Total de valores nulos:\n{total_null}')

Total de valores nulos:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [8]:
total_na = customers.isna(). sum()

print(f'Total de valores nulos:\n{total_na}')

Total de valores nulos:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [9]:
total_duplicates = customers.duplicated().sum()

print('Total de dados com duplicidade:', total_duplicates)

Total de dados com duplicidade: 0

In [10]:
data_clear.total_accents('customer_city')

Total de palavras que atendem ao padrão: 0

 - Contando e modificando nomes de cidades:
\
\
Exitem distritos como o de Monte Gordo, localizado na cidade de Camaçari-BA, que constam como cidades. Para padronizar a base de dados irei modificar o registro e levar em consideração que distritos fazem parte da cidade em questão.

In [11]:
data_clear.count_city_name('monte gordo','BA')

Total de cidades com o nome monte gordo: 2

In [12]:
data_clear.change_city_name('monte gordo','BA','camacari')

Antigo nome registrado: monte gordo. Novo nome registrado: camacari

In [13]:
data_clear.count_city_name('monte gordo','BA')

Erro ao encontrar a cidade. Verifique os dados.

- Realizando o mesmo processo nos distritos restantes

In [14]:
data_clear.count_city_name('praia grande', 'ES') 
data_clear.change_city_name('praia grande','ES', 'fundao')

data_clear.count_city_name('bacaxa', 'RJ')
data_clear.change_city_name('bacaxa','RJ','saquarema')

Total de cidades com o nome praia grande: 1
Antigo nome registrado: praia grande. Novo nome registrado: fundao
Total de cidades com o nome bacaxa: 1
Antigo nome registrado: bacaxa. Novo nome registrado: saquarema

2. Realizando análise exploratória

In [15]:
customers.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [16]:
customers['customer_id'].value_counts()

customer_id
06b8999e2fba1a1fbc88172c00ba8bc7    1
c023f30c1147aeb0358474f3b1dbc707    1
b5cbf43f42281920a175fc99650c91d6    1
19f4e983f8f05b7de16670f8a0cf0ac7    1
229ac14c6ee6d6a606264ebcc861beb7    1
                                   ..
31665bd5bc542687ab54c9fd9ed9917b    1
37fb9cce079a4887c96b59bae2011d05    1
1d815f3ad9b2017b6da2c4f1cbb1180b    1
6b05c8f3a25a71005d5eb9b51766c333    1
274fa6071e5e17fe303b9748641082c8    1
Name: count, Length: 99441, dtype: int64

In [17]:
customers['customer_unique_id'].value_counts()

customer_unique_id
8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
1b6c7548a2a1f9037c1fd3ddfed95f33     7
ca77025e7201e3b30c44b472ff346268     7
6469f99c1f9dfae7733b25662e7f1782     7
                                    ..
081f07439678af2da7755a0aa572154d     1
9c57789a6a587f4efcfb01e36c106014     1
9e4c21635f640562de1a6976374fba03     1
06c0ea6ee892364d1608ee47aa9f56a0     1
84732c5050c01db9b23e19ba39899398     1
Name: count, Length: 96096, dtype: int64

In [18]:
customers['customer_zip_code_prefix'].value_counts()

customer_zip_code_prefix
22790    142
24220    124
22793    121
24230    117
22775    110
        ...
35698      1
99370      1
64808      1
60876      1
99043      1
Name: count, Length: 14994, dtype: int64

In [19]:
customers['customer_city'].value_counts()

customer_city
sao paulo            15540
rio de janeiro        6882
belo horizonte        2773
brasilia              2131
curitiba              1521
                     ...
nova boa vista           1
fernao                   1
inocencia                1
mae d'agua               1
eugenio de castro        1
Name: count, Length: 4117, dtype: int64

In [20]:
customers['customer_state'].value_counts()

customer_state
SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: count, dtype: int64

In [21]:
(customers['customer_state'].value_counts() / customers.shape[0]) * 100

customer_state
SP    41.980672
RJ    12.924247
MG    11.700405
RS     5.496727
PR     5.073360
SC     3.657445
BA     3.399000
DF     2.152030
ES     2.044428
GO     2.031355
PE     1.661287
CE     1.343510
PA     0.980481
MT     0.912099
MA     0.751199
MS     0.719019
PB     0.539013
PI     0.497783
RN     0.487726
AL     0.415322
SE     0.351967
TO     0.281574
RO     0.254422
AM     0.148832
AC     0.081455
AP     0.068382
RR     0.046259
Name: count, dtype: float64

- Agrupando os Estados por região

In [22]:
region = {
    'SP': 'southeast',
    'MG': 'southeast',
    'RJ': 'southeast',
    'ES': 'southeast',
}

customers['customer_region'] = customers['customer_state'].map(region)

In [23]:
region = {
    'RS': 'south',
    'SC': 'south',
    'PR': 'south',
}

customers['customer_region'] = customers['customer_region'].combine_first(customers['customer_state'].map(region))

In [24]:
region = {
    'AL': 'northeast',
    'BA': 'northeast',
    'CE': 'northeast',
    'MA': 'northeast',
    'PB': 'northeast',
    'PE': 'northeast',
    'PI': 'northeast',
    'RN': 'northeast',
    'SE': 'northeast',
}

customers['customer_region'] = customers['customer_region'].combine_first(customers['customer_state'].map(region))

In [25]:
region = {
    'AC': 'north',
    'AM': 'north',
    'AP': 'north',
    'PA': 'north',
    'RO': 'north',
    'RR': 'north',
    'TO': 'north',
}

customers['customer_region'] = customers['customer_region'].combine_first(customers['customer_state'].map(region))

In [26]:
region = {
    'DF': 'central-west',
    'GO': 'central-west',
    'MS': 'central-west',
    'MT': 'central-west',
}

customers['customer_region'] = customers['customer_region'].combine_first(customers['customer_state'].map(region))

In [27]:
customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_region
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,southeast
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,southeast
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,southeast
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,southeast
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,southeast
...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,southeast
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,southeast
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,northeast
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,south
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,southeast

In [41]:
customers['customer_region'].value_counts()

customer_region
southeast       68266
south           14148
northeast        9394
central-west     5782
north            1851
Name: count, dtype: int64

In [43]:
(customers['customer_region'].value_counts() /customers.shape[0]) * 100

customer_region
southeast       68.649752
south           14.227532
northeast        9.446808
central-west     5.814503
north            1.861405
Name: count, dtype: float64

In [40]:
customers.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
customer_region             object
dtype: object

3. Exportando o DataFrame para um novo arquivo csv.

In [35]:
import os

In [39]:
data_directory = '../data/'

clean_data_directory = os.path.join(data_directory, 'clean_data')

os.makedirs(clean_data_directory, exist_ok=True)

csv_path = os.path.join(clean_data_directory, 'customers_dataset.csv')

customers.to_csv(csv_path, index=False)

print(f'DataFrame salvo em {csv_path}')

DataFrame salvo em ../data/clean_data/customers_dataset.csv