In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/sudoverso/.local/lib/python3.10/site-packages (2.1.3)
Requirement already satisfied: tzdata>=2022.1 in /home/sudoverso/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/sudoverso/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/sudoverso/.local/lib/python3.10/site-packages (from pandas) (1.26.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

1. Padronizando o Dataframe: Limpeza e alteração de dados incorretos.

In [2]:
geolocation = pd.read_csv('../data/data_csv/olist_geolocation_dataset.csv')

geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [3]:
geolocation.shape

(1000163, 5)

In [4]:
geolocation.head(7)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
5,1012,-23.547762,-46.635361,são paulo,SP
6,1047,-23.546273,-46.641225,sao paulo,SP

- Duplicatas nas coordenadas geográficas poder ser esperadas porque várias localidades podem ter as mesmas coordenadas.

In [5]:
geolocation.duplicated().sum()

261831

In [6]:
geolocation.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [7]:
geolocation.isna().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [8]:
from data_clear import DataClear

In [9]:
data_clear = DataClear(geolocation, 'geolocation_city', 'geolocation_state')

- Lendo a soma de registros na coluna "geolocation_city" que contém caracteres especiais e removendo possíveis acentuações.

In [10]:
data_clear.total_accents('geolocation_city')

Total de palavras que atendem ao padrão: 73442

In [11]:
data_clear.cleaning_accents('geolocation_city')

Total de palavras que atendem ao padrão: 0

- Contando e modificando nomes de cidades:
\
Exitem distritos como o de Monte Gordo, localizado na cidade de Camaçari-BA, que constam como cidades. Para padronizar a base de dados irei modificar o dado e manter apenas com o nome da cidade. Além disse existem nomes de cidades escritas de forma errada como "saopaulo", "guarulhos-sp" entre outras.

In [13]:
saopaulo = 'saopaulo'
guarulhos_sp = 'guarulhos-sp'
sp = 'sp'
saPSo_paulo = 'saPSo paulo'
jacare_cabreuva = 'jacare (cabreuva)'
state = 'SP'

data_clear.count_city_name(saopaulo, state)
data_clear.count_city_name(guarulhos_sp, state)
data_clear.count_city_name(sp, state)
data_clear.count_city_name(saPSo_paulo, state)
data_clear.count_city_name(jacare_cabreuva, state)

Total de cidades com o nome saopaulo: 2
Total de cidades com o nome guarulhos-sp: 1
Total de cidades com o nome sp: 3
Total de cidades com o nome saPSo paulo: 1
Total de cidades com o nome jacare (cabreuva): 2

In [14]:
data_clear.change_city_name(saopaulo, state, 'sao paulo')
data_clear.change_city_name(sp, state, 'sao paulo')
data_clear.change_city_name(saPSo_paulo, state, 'sao paulo')
data_clear.change_city_name(guarulhos_sp, state, 'guarulhos')
data_clear.change_city_name(jacare_cabreuva, state, 'cabreuva')

Antigo nome registrado: saopaulo. Novo nome registrado: sao paulo
Antigo nome registrado: sp. Novo nome registrado: sao paulo
Antigo nome registrado: saPSo paulo. Novo nome registrado: sao paulo
Antigo nome registrado: guarulhos-sp. Novo nome registrado: guarulhos
Antigo nome registrado: jacare (cabreuva). Novo nome registrado: cabreuva

- Aplicando a mesma regra para outras cidades

In [17]:
bahia = 'BA'
minas_gerais = 'MG'
espirito_santo = 'ES'
rio_de_janeiro = 'RJ'

data_clear.count_city_name('itabatan (mucuri)', bahia)
data_clear.count_city_name('monte gordo (camacari) - distrito', bahia)
data_clear.count_city_name('praia grande (fundao) - distrito', espirito_santo)
data_clear.count_city_name('antunes (igaratinga)', minas_gerais)
data_clear.count_city_name('realeza (manhuacu)', minas_gerais)
data_clear.count_city_name('bacaxa (saquarema) - distrito',rio_de_janeiro)
data_clear.count_city_name('california da barra (barra do pirai)', rio_de_janeiro)
data_clear.count_city_name('penedo (itatiaia)', rio_de_janeiro)
data_clear.count_city_name('tamoios (cabo frio)', rio_de_janeiro)

Total de cidades com o nome itabatan (mucuri): 2
Total de cidades com o nome monte gordo (camacari) - distrito: 1
Total de cidades com o nome praia grande (fundao) - distrito: 1
Total de cidades com o nome antunes (igaratinga): 1
Total de cidades com o nome realeza (manhuacu): 1
Total de cidades com o nome bacaxa (saquarema) - distrito: 1
Total de cidades com o nome california da barra (barra do pirai): 1
Total de cidades com o nome penedo (itatiaia): 1
Total de cidades com o nome tamoios (cabo frio): 1

In [18]:
data_clear.change_city_name('itabatan (mucuri)', bahia, 'mucuri')
data_clear.change_city_name('monte gordo (camacari) - distrito', bahia, 'camacari')
data_clear.change_city_name('praia grande (fundao) - distrito', espirito_santo, 'fundao')
data_clear.change_city_name('antunes (igaratinga)', minas_gerais, 'igaratinga')
data_clear.change_city_name('realeza (manhuacu)', minas_gerais, 'manhuacu')
data_clear.change_city_name('bacaxa (saquarema) - distrito',rio_de_janeiro, 'saquarema')
data_clear.change_city_name('california da barra (barra do pirai)', rio_de_janeiro, 'barra do pirai')
data_clear.change_city_name('penedo (itatiaia)', rio_de_janeiro, 'itatiaia')
data_clear.change_city_name('tamoios (cabo frio)', rio_de_janeiro, 'cabo frio')

Antigo nome registrado: itabatan (mucuri). Novo nome registrado: mucuri
Antigo nome registrado: monte gordo (camacari) - distrito. Novo nome registrado: camacari
Antigo nome registrado: praia grande (fundao) - distrito. Novo nome registrado: fundao
Antigo nome registrado: antunes (igaratinga). Novo nome registrado: igaratinga
Antigo nome registrado: realeza (manhuacu). Novo nome registrado: manhuacu
Antigo nome registrado: bacaxa (saquarema) - distrito. Novo nome registrado: saquarema
Antigo nome registrado: california da barra (barra do pirai). Novo nome registrado: barra do pirai
Antigo nome registrado: penedo (itatiaia). Novo nome registrado: itatiaia
Antigo nome registrado: tamoios (cabo frio). Novo nome registrado: cabo frio

2. Realizando análise exploratória

In [19]:
geolocation.columns

Index(['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng',
       'geolocation_city', 'geolocation_state'],
      dtype='object')

In [22]:
geolocation['geolocation_zip_code_prefix'].value_counts()

geolocation_zip_code_prefix
24220    1146
24230    1102
38400     965
35500     907
11680     879
         ...
71750       1
71742       1
26475       1
26357       1
29826       1
Name: count, Length: 19015, dtype: int64

In [24]:
geolocation['geolocation_city'].value_counts()

geolocation_city
sao paulo              160724
rio de janeiro          62151
belo horizonte          27805
curitiba                16593
porto alegre            13521
                        ...
curumim                     1
xangrila                    1
algodao de jandaira         1
fonseca                     1
jacilandia                  1
Name: count, Length: 5955, dtype: int64

In [26]:
(geolocation['geolocation_city'].value_counts() / geolocation.shape[0]) * 100

geolocation_city
sao paulo              16.069781
rio de janeiro          6.214087
belo horizonte          2.780047
curitiba                1.659030
porto alegre            1.351880
                         ...
curumim                 0.000100
xangrila                0.000100
algodao de jandaira     0.000100
fonseca                 0.000100
jacilandia              0.000100
Name: count, Length: 5955, dtype: float64

In [27]:
geolocation['geolocation_state'].value_counts()

geolocation_state
SP    404268
MG    126336
RJ    121169
RS     61851
PR     57859
SC     38328
BA     36045
GO     20139
ES     16748
PE     16432
DF     12986
MT     12031
CE     11674
PA     10853
MS     10431
MA      7853
PB      5538
RN      5041
PI      4549
AL      4183
TO      3576
SE      3563
RO      3478
AM      2432
AC      1301
AP       853
RR       646
Name: count, dtype: int64

In [28]:
(geolocation['geolocation_state'].value_counts() / geolocation.shape[0]) * 100

geolocation_state
SP    40.420212
MG    12.631541
RJ    12.114925
RS     6.184092
PR     5.784957
SC     3.832175
BA     3.603913
GO     2.013572
ES     1.674527
PE     1.642932
DF     1.298388
MT     1.202904
CE     1.167210
PA     1.085123
MS     1.042930
MA     0.785172
PB     0.553710
RN     0.504018
PI     0.454826
AL     0.418232
TO     0.357542
SE     0.356242
RO     0.347743
AM     0.243160
AC     0.130079
AP     0.085286
RR     0.064589
Name: count, dtype: float64

In [29]:
region = {
    'SP': 'southeast',
    'MG': 'southeast',
    'RJ': 'southeast',
    'ES': 'southeast',
}

geolocation['geolocation_region'] = geolocation['geolocation_state'].map(region)

In [32]:
geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,geolocation_region
0,1037,-23.545621,-46.639292,sao paulo,SP,southeast
1,1046,-23.546081,-46.644820,sao paulo,SP,southeast
2,1046,-23.546129,-46.642951,sao paulo,SP,southeast
3,1041,-23.544392,-46.639499,sao paulo,SP,southeast
4,1035,-23.541578,-46.641607,sao paulo,SP,southeast
...,...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS,south
1000159,99900,-27.877125,-52.224882,getulio vargas,RS,south
1000160,99950,-28.071855,-52.014716,tapejara,RS,south
1000161,99980,-28.388932,-51.846871,david canabarro,RS,south
1000162,99950,-28.070104,-52.018658,tapejara,RS,south

In [31]:
region = {
    'RS': 'south',
    'SC': 'south',
    'PR': 'south',
}

geolocation['geolocation_region'] = geolocation['geolocation_region'].combine_first(geolocation['geolocation_state'].map(region))

In [33]:
region = {
    'AL': 'northeast',
    'BA': 'northeast',
    'CE': 'northeast',
    'MA': 'northeast',
    'PB': 'northeast',
    'PE': 'northeast',
    'PI': 'northeast',
    'RN': 'northeast',
    'SE': 'northeast',
}

geolocation['geolocation_region'] = geolocation['geolocation_region'].combine_first(geolocation['geolocation_state'].map(region))

In [34]:
region = {
    'AC': 'north',
    'AM': 'north',
    'AP': 'north',
    'PA': 'north',
    'RO': 'north',
    'RR': 'north',
    'TO': 'north',
}

geolocation['geolocation_region'] = geolocation['geolocation_region'].combine_first(geolocation['geolocation_state'].map(region))

In [35]:
region = {
    'DF': 'central-west',
    'GO': 'central-west',
    'MS': 'central-west',
    'MT': 'central-west',
}

geolocation['geolocation_region'] = geolocation['geolocation_region'].combine_first(geolocation['geolocation_state'].map(region))

In [36]:
geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,geolocation_region
0,1037,-23.545621,-46.639292,sao paulo,SP,southeast
1,1046,-23.546081,-46.644820,sao paulo,SP,southeast
2,1046,-23.546129,-46.642951,sao paulo,SP,southeast
3,1041,-23.544392,-46.639499,sao paulo,SP,southeast
4,1035,-23.541578,-46.641607,sao paulo,SP,southeast
...,...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS,south
1000159,99900,-27.877125,-52.224882,getulio vargas,RS,south
1000160,99950,-28.071855,-52.014716,tapejara,RS,south
1000161,99980,-28.388932,-51.846871,david canabarro,RS,south
1000162,99950,-28.070104,-52.018658,tapejara,RS,south

In [37]:
geolocation['geolocation_region'].value_counts()

geolocation_region
southeast       668521
south           158038
northeast        94878
central-west     55587
north            23139
Name: count, dtype: int64

In [38]:
(geolocation['geolocation_region'].value_counts() / geolocation.shape[0]) * 100

geolocation_region
southeast       66.841205
south           15.801224
northeast        9.486254
central-west     5.557794
north            2.313523
Name: count, dtype: float64

In [39]:
geolocation.dtypes

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
geolocation_region              object
dtype: object

3. Exportando o DataFrame para um novo arquivo csv

In [40]:
import os

In [41]:
data_directory = '../data/'

clean_data_directory = os.path.join(data_directory, 'clean_data')

os.makedirs(clean_data_directory, exist_ok=True)

csv_path = os.path.join(clean_data_directory, 'geolocation_dataset.csv')

geolocation.to_csv(csv_path, index=False)

print(f'DataFrame salvo em {csv_path}')

DataFrame salvo em ../data/clean_data/geolocation_dataset.csv