In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/sudoverso/.local/lib/python3.10/site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/sudoverso/.local/lib/python3.10/site-packages (from pandas) (1.26.2)
Requirement already satisfied: tzdata>=2022.1 in /home/sudoverso/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/sudoverso/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /home/sudoverso/.local/lib/python3.10/site-packages (3.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib) (4.46.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy<2,>=1.21 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib) (1.26.2)
Requirement already satisfied: packaging>=20.0 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib) (23.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: pillow>=8 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /home/sudoverso/.local/lib/python3.10/site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/sudoverso/.local/lib/python3.10/site-packages (from seaborn) (1.26.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in /home/sudoverso/.local/lib/python3.10/site-packages (from seaborn) (3.8.2)
Requirement already satisfied: pandas>=1.2 in /home/sudoverso/.local/lib/python3.10/site-packages (from seaborn) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pillow>=8 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.1.0)
Requirement already satisfied: packaging>=20.0 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.4.7)
Requirement already satisfied: fonttools>=4.22.0 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.46.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/sudoverso/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=1.2->seaborn) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /home/sudoverso/.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
import matplotlib.pyplot as plt

In [6]:
import seaborn as sns

In [7]:
from unidecode import unidecode

1. Padronizando o Dataframe: Limpeza e alteração de dados incorretos.

In [8]:
sellers = pd.read_csv('../data/data_csv/olist_sellers_dataset.csv')

sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [9]:
total_accents =sellers['seller_city'].str.contains('[^\x00-\x7F]', regex=True)
    
result = total_accents.sum()
    
print(f'Total de palavras que atendem ao padrão: {result}')

Total de palavras que atendem ao padrão: 3

In [10]:
sellers['seller_city'] = sellers['seller_city'].apply(unidecode)

In [11]:
total_accents =sellers['seller_city'].str.contains('[^\x00-\x7F]', regex=True)
    
result = total_accents.sum()
    
print(f'Total de palavras que atendem ao padrão: {result}')

Total de palavras que atendem ao padrão: 0

In [23]:
import pandas as pd

test = sellers[sellers['seller_city'] == 'sp']

sum_values = test.sum()

print(sum_values)

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
seller_region             0
dtype: object

In [24]:
sellers['seller_city'] = sellers['seller_city'].replace('sp', 'sao_paulo')

In [14]:
region = {
    'SP': 'southeast',
    'MG': 'southeast',
    'RJ': 'southeast',
    'ES': 'southeast',
}

sellers['seller_region'] = sellers['seller_state'].map(region)

In [15]:
region = {
    'RS': 'south',
    'SC': 'south',
    'PR': 'south',
}

sellers['seller_region'] = sellers['seller_region'].combine_first(sellers['seller_state'].map(region))

In [16]:
region = {
    'AL': 'northeast',
    'BA': 'northeast',
    'CE': 'northeast',
    'MA': 'northeast',
    'PB': 'northeast',
    'PE': 'northeast',
    'PI': 'northeast',
    'RN': 'northeast',
    'SE': 'northeast',
}

sellers['seller_region'] = sellers['seller_region'].combine_first(sellers['seller_state'].map(region))

In [17]:
region = {
    'AC': 'north',
    'AM': 'north',
    'AP': 'north',
    'PA': 'north',
    'RO': 'north',
    'RR': 'north',
    'TO': 'north',
}

sellers['seller_region'] = sellers['seller_region'].combine_first(sellers['seller_state'].map(region))

In [18]:
region = {
    'DF': 'central-west',
    'GO': 'central-west',
    'MS': 'central-west',
    'MT': 'central-west',
}

sellers['seller_region'] = sellers['seller_region'].combine_first(sellers['seller_state'].map(region))

In [20]:
sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state,seller_region
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,southeast
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP,southeast
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ,southeast
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP,southeast
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP,southeast
...,...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR,south
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC,south
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP,southeast
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS,south
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP,southeast

2. Exportando o DataFrame para um novo arquivo csv

In [25]:
import os

In [26]:
data_directory = '../data/'

clean_data_directory = os.path.join(data_directory, 'clean_data')

os.makedirs(clean_data_directory, exist_ok=True)

csv_path = os.path.join(clean_data_directory, 'sellers_dataset.csv')

sellers.to_csv(csv_path, index=False)

print(f'DataFrame salvo em {csv_path}')

DataFrame salvo em ../data/clean_data/sellers_dataset.csv